.element {
  border-bottom: 1px;
}

.picture {
  max-width: 80%;
  display: block;
  margin: auto;
}

.description,
.title,
.date,
.likes {
  max-width: 65%;
  margin: auto;
}

.date {
  margin-top: 15px;
  margin-bottom: 15px;
}

.title {
  margin-bottom: 25px;
}

.description {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: justify;
  border: 5px gray groove;
  /* box-shadow: 5px 5px 5px 5px; */
  padding: 10px;
}

.likes {
  margin-bottom: 30px;
}
