#comments {
  margin-top: 1rem;
}
.comment,
form {
  border: 0.5px solid gray;
  border-radius: 5px;
  max-width: 50%;
  margin: 1rem auto;
}

input,
textarea {
  border: 0.5px solid gray;
  border-radius: 5px;
  padding: 1rem;
  width: 70%;
}

.formSection {
  margin: 1rem auto;
}
label {
  display: block;
}
button {
  color: white;
  background: #ffba00;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  font-size: 120%;
}
